{% extends "Base.twig" %}
{% set page = "Conteo" %}
{% block body %}
  <a href="index.php">Home</a>
  <form class="form" action="index.php?controller=conteo&action=conteo" method="post">
    <select class="select" name="seccion">
      {% for seccion in secciones %}
        <option value="{{ seccion.codigo }}">{{ seccion.codigo }} - {{ seccion.nombre }}</option>
      {% endfor %}
    </select>
    <select class="select" name="circuito">
      {% for circuito in circuitos %}
        <option value="{{ circuito.codigo }}">{{ circuito.codigo }}</option>
      {% endfor %}
    </select>
    <select class="select" name="mesa">
      {% for mesa in mesas %}
        <option value="{{ mesa.codigo }}">{{ mesa.codigo }}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit" value="Enviar">
  </form>
{% endblock %}
